certifi==2018.1.18
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.8
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
requests==2.20.0
six==1.11.0
urllib3==1.22
virtualenv==16.5.0
Werkzeug==0.15.2