body{
    font-family: 'Manrope', sans-serif;
    text-align: justify;
}
code, pre{
    font-family: 'Roboto Mono', monospace !important;
    background-color: #eeeeee;
    padding: 4px;
    border-radius: 8px;
    overflow: auto;
    font-size: 12px;;
}
input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #000000;
    width: 250px;
}
input:focus{
    border: 1px solid #1e87f0;
}
button{
    background-color: #1e87f0;
    border: 1px solid #1e87f0;
    border-radius: 8px;
    font-family: 'Manrope', sans-serif;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #1874cf;
    border: 1px solid #1874cf;
}
.pd{
    padding: 10px !important;
    border: none !important;
}
.code{
    font-family: 'Roboto Mono', monospace !important;
}
h1{
    line-height: 0;
    font-size: 3.5vmax;
}
.footer{
    text-align: center;
    padding: 15px 10px;
}
hr{
    border: solid 1px #888;
}
.wr{
    word-wrap: break-word;
}
a{
    color: #1e87f0;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}