<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-grid-only@1.0.0/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca|Roboto+Mono:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="static/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 | tinyurl-rest-wrapper</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="col">
                <h1 class="code ln-0">404. That's an error 😥</h1>
                <p>The requested URL was not found on this server.</p>
            </div>
        </div>
    </div>
</body>
</html>