<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="static/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="static/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>404 - tinyurl-rest-wrapper</title>
  </head>
  <body>
    <div class="max-w-screen-md mx-auto px-4 pt-40">
      <h1 class="text-4xl font-bold">404. That's an error 😥</h1>
      <p>The requested URL was not found on this server.</p>
      <br />
      <a
        href="/"
        class="px-4 py-3 rounded-lg bg-slate-900 hover:bg-slate-700 drop-shadow-lg hover:drop-shadow-none text-white"
      >
        &larr; take me home</a
      >
    </div>
  </body>
</html>
