<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="static/favicon.png" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="static/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>tinyurl-rest-wrapper</title>
  </head>
  <body class="max-w-screen-lg mx-auto px-4 flex flex-col min-h-screen">
    <div
      class="flex flex-col md:flex-row justify-center items-center gap-4 mt-64"
    >
      <img src="static/favicon.png" alt="logo" class="h-20 w-20" />
      <div class="text-center md:text-left">
        <h1 class="text-3xl font-bold">tinyurl-rest-wrapper</h1>
        <p>a RESTful API wrapper for TinyURL</p>
      </div>
    </div>
    <div class="flex justify-center items-center gap-2 mt-8">
      <input
        type="text"
        id="url"
        placeholder="url to shorten..."
        class="px-4 py-3 rounded-lg bg-gray-200 w-full md:w-1/2 outline-slate-900"
      />
      <button
        class="px-4 py-3 rounded-lg bg-slate-900 drop-shadow-lg text-white hover:bg-slate-700 hover:drop-shadow-none"
        id="shorten"
      >
        shorten
      </button>
    </div>
    <div class="flex justify-center items-center py-8">
      <p
        id="tinyurl-link"
        class="px-3 py-2 rounded-lg hover:bg-gray-100 cursor-pointer"
        title="click to copy link"
      ></p>
    </div>
  </body>
  <footer
    class="px-4 py-6 flex flex-col-reverse gap-4 md:gap-0 md:flex-row justify-between items-center mt-auto"
  >
    <p>(c) 2022 Kent Leo L. Makibulan</p>
    <ul class="flex items-center gap-6">
      <li>
        <a
          href="https://github.com/iamkentleom/tinyurl-rest-wrapper#tinyurl-rest-wrapper"
          rel="noreferrer"
          class="hover:text-slate-400"
          >about</a
        >
      </li>
      <li>
        <a
          href="https://github.com/iamkentleom/tinyurl-rest-wrapper#usage"
          rel="noreferrer"
          class="hover:text-slate-400"
          >api</a
        >
      </li>
      <li>
        <a
          href="https://github.com/iamkentleom/tinyurl-rest-wrapper/blob/master/LICENSE"
          rel="noreferrer"
          class="hover:text-slate-400"
          >license</a
        >
      </li>
    </ul>
  </footer>
  <script defer src="static/app.js"></script>
</html>
